.container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
    'header header'
    'aside section1'
    'aside section2'
    'footer footer'
    ;
    height: 100vh;
    width: 100vw;
}
.grid1{
    grid-area: header;
    background-color: aqua;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}
.grid2{
    grid-area: aside;
    background-color: red;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}
.grid3{
    grid-area: section1;
    background-color: purple;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}
.grid4{
    grid-area: section2;
    background-color: green;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}
.grid5{
    grid-area: footer;
    background-color: yellow;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}
